<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="form-control" action="/new-password" method="POST">
            <div class="form-control">
                <fieldset class="form-control">
                  <legend class="form-control">Login</legend>
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
        </fieldset>
        </form>
    </main>
<%- include('../includes/end.ejs') %>