<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form" action="/reset" method="POST">


            <% if (errorMessage) { %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
            <% } %>
            <fieldset class="form-control">
              <legend class="form-control">Login</legend>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input class="form-control" type="email" name="email" id="email">
            </div>
            <div class="form-control">    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Reset Password</button>
            </div>

            </fieldset>
        </form>
    </main>
<%- include('../includes/end.ejs') %>