<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                    <form class="login-form" action="/signup" method="POST">
                            <fieldset class="form-control">
                            <legend class="form-control">Sign Up</legend>
                                <label for="email">E-Mail</label>
                                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                    type="email" name="email" id="email" value=<%=oldInput.email %>>
                            </div>
                            <div class="form-control">
                                <label for="password">Password</label>
                                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                    type="password" name="password" id="password" value=<%=oldInput.password %>>
                            </div>
                            <div class="form-control">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" name="confirmPassword" id="confirmPassword"
                                    value=<%=oldInput.confirmPassword %>>
                            </div>
                            <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="submit">Signup</button>
                        </fieldset>
                    </form>
            </main>
            <%- include('../includes/end.ejs') %>