<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/courses' ? 'active' : '' %>" href="/courses">Courses</a>
      </li>
      <li>
        <a href="https://heroku.com/deploy">
            <img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy">
      </a>
    </li>
      <!-- TODO: IMPLEMENT ROLE-BASED AUTH -->
      <% if (isAuthenticated) { %>
      <li class="main-header__item">
        <a class="<%= path === '/user/enrolled-courses' ? 'active' : '' %>" href="/user/enrolled-courses">Course List</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/user/teach-with-us' ? 'active' : '' %>" href="/user/teach-with-us">Teach with Us</a>
      </li>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
      </li>
      <% } else { %>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/courses' ? 'active' : '' %>" href="/courses">Courses</a>
    </li>
    <% if (isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/user/enrolled-courses' ? 'active' : '' %>" href="/user/enrolled-courses">Course List</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/user/teach-with-us' ? 'active' : '' %>" href="/user/teach-with-us">Teach with Us</a>
    </li>
    <% } %> <% if (!isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
    </li>
    <% } else { %>
    <li class="mobile-nav__item">
      <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit">Logout</button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
