<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="centered">
    <h1>Courses User is enrolled in</h1>
    <% if (courses.length > 0) { %>
      <div class="container">
          <% for (let course of courses) { %>
            <div class="coursecard__container">
              <article class="coursecard coursecard__item" >
                <div class="coursecard__image">
                    <img src="<%= course.image %>" alt="<%= course.title %>">
                </div>
                <div class="coursecard__content">
                    <p class="course__title"><%= course.title %></p>
                </div>
              </article>
              <h3 class="coursecard__description"><%= course.description %></h3>
              <form method="POST" action="/course-signup">
                <input type="hidden" value="<%=course.id%>" name="id">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <button class="btn" type="submit">Let Me Take This Course</button>
              </form>

            </div>
          <% } %>
      </div>
  <% } else { %>
      <h2>No courses found!</h1>
  <% } %>
  </main>
      <%- include('../includes/end.ejs') %>