<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/course.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  
  <main>
    <h1>Courses User is enrolled in</h1>
    <% if (courses.length > 0) { %>
      <div class="container">
          <% for (let course of courses) { %>
            <div class="course-container">
              <article class="card course-item" >
                <div class="card__image">
                    <img src="<%= course.image %>" alt="<%= course.title %>">
                </div>
                <div class="card__content">
                    <p class="course__title"><%= course.title %></p>
                </div>
              </article>
              <h3 class="course__description"><%= course.description %></h3>
              <form method="POST" action="/course-signup">
                <button class="button-signup" type="submit">Signup</button>
              </form>
              
            </div>
          <% } %>
      </div>
  <% } else { %>
      <h2>No courses found!</h1>
  <% } %>
  </main>
      <%- include('../includes/end.ejs') %>