<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="centered">
    <h1>Courses User is enrolled in</h1>
    <% if (courses.length > 0) { %>
      <div class="container">
          <% for (let course of courses) { %>
            <div class="coursecard__container">
              <div class="coursecard__image">
                  <img src="<%= course.image %>" alt="<%= course.title %>">
              </div>
              <article class="coursecard__item" >
                <div class="coursecard__content">
                  <h3 class="coursecard__title"><%= course.title %></h3>
                    <p class="course__description"><%= course.description %></p>
                </div>
                <form method="POST" action="/course-signup">
                  <input type="hidden" value="<%=course.id%>" name="id">
                  <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                  <button class="btn" type="submit">Let Me Take This Course</button>
                </form>
              </article>

            </div>
          <% } %>
      </div>
  <% } else { %>
      <h2>No courses found!</h1>
  <% } %>
  </main>
      <%- include('../includes/end.ejs') %>