<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="centered">
      <h2>Welcome to Our Site</h2>
      <h2>Purpose of Site</h2>
      <h2>One or two courses to showcase to all visitors</h2>
        <% if (courses.length > 0) { %>
          <div class="container">
              <% for (let course of courses) { %>
                <div class="coursecard__container">
                    <div class="coursecard__image">
                      <img src="<%= course.image %>" alt="<%= course.title %>">
                    </div>
                    <div class="coursecard__content">
                        <h3 class="coursecard__description"><%= course.title %></h3>
                        <p class="coursecard__title"><%= course.description %></p>
                    </div>
                </div>
              <% } %>
          </div>
      <% } else { %>
          <h2>No courses found!</h1>
      <% } %>
  </main>

<%- include('../includes/end.ejs') %>